.flower-gallery-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 28rem; 
    transition: top 0.3s; 
    margin: 1rem auto;
  }
  
  @media (max-width: 768px) { 
    .flower-gallery-container {
      top: 44.5rem;
      z-index: 10;
    }
  }

  @media (max-width: 1080) { 
    .flower-gallery-container {
      top: 64rem;
      z-index: 10;
    }
  }
  
  